
<!-- container for orange background -->
<div header-container>
<!-- navigation bar -->

<!-- avatar -->
<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />


<!-- title -->

<h1>Hello, user_name!<h1>
<h2>Where would you like to go</h2>

<!-- filtering and searchbox -->

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Near-by</a>
      <a class="dropdown-item" href="#">Another </a>
    </div>
  </div>

  <div class="search-box">
    <%= simple_form_for :search, url: s_path, method: "GET", html: { class: '' } do |f| %>
        <div class="search_bar d-flex  align-items-center input_area text-align-center pr-2">
            <div class="name flex-grow-1">
            <%= f.input :name, input_html: {value: ""}, :placeholder => "search" , :label => false, input_html: { class: 'name_input mt-3' } %>
            </div>
            <%= f.submit "🔎", class: "search_bar_btn ml-3" %>
        </div>
    <% end %>
  </div>

<!-- container end, apply border-radius to bottom onl -->
</div>
<!-- filter tabs -->
<div class="container mt-3 tabs-and-event-cards">
    <div class="filter-tabs">
    <ul class="list-inline tabs-underlined">
        <li>
        <a href="#" class="tab-underlined active">Popular</a>
        </li>
        <li>
        <a href="#" class="tab-underlined">Recommended</a>
        </li>
        <li>
        <a href="#" class="tab-underlined">Promotions</a>
        </li>
    </ul>
    </div>

<!-- cards -->
  <!-- iterate through venue cards with events -->
    <div class="container mt-3 venue-section">
        <div class="row">
          <% @venues.each do |venue|%>
            <div class="event-card">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                  <%= cl_image_tag photo.key, height:220, crop: :fill, class: "w-100" %>

                <div class="card-trip-infos">
                <h2>Craftsmen Cafe</h2>
                <p>Best coffee shop</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                </div>
                <!-- iterate through users who are logged in -->
                <div class="users-online">
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--navigation right button -->

