<div class="container mt-5">
  <%= simple_form_for :address,url: s_path, method: "GET" do |f| %>
    <%= f.input :search, as: :string, type: :text, :placeholder => "Type here", :label => false %>
  <% end %>
</div>


<div class="container">
  <% @search_venues.each do |venue| %>
    <h1><%= link_to venue.name, venue_path(venue) %></h1>
    <p><%= venue.address %></p>
  <% end %>
</div>
