
.rating-header {
    h2 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.rating-body {
  text-align: center
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}